@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Subcategory</th>
                <th scope="col">Create Date</th>
                <th scope="col">City</th>
                <th scope="col">District</th>
                <th scope="col">Street</th>
                <th scope="col">Apartment Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notification in ViewBag.Notifications)
            {
                <tr>
                    <td>@notification.Event</td>
                    <td>@notification.Type</td>
                    <td>@notification.Category</td>
                    <td>@notification.Subcategory</td>
                    <td>@notification.CreateDate</td>
                    <td>@notification.City</td>
                    <td>@notification.District</td>
                    <td>@notification.Street</td>
                    <td>@notification.ApartmentNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>